node_modules
dist
coverage
.nyc_output

.git
.gitignore
.gitattributes

.env
.env.*
!.env.example

npm-debug.log*
*.log

.DS_Store
.vscode
.idea
*.swp
*code-workspace

test
README.md
Dockerfile*
docker-compose*.yml
.dockerignore
